* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #fff;

  background-color: #1e1d23;
}
form {
  margin: 20px;
  padding: 20px;
  font-size: 3rem;
}
form input,
form button {
  font-size: 2rem;
}
ul {
  padding-left: 50px;
}

h1 {
  margin: 40px;
  font-size: 3rem;
}
