* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #fff;

  background-color: #1e1d23;
}
.addbtn {
  align-self: flex-start;
}
.square {
  width: 150px;
  height: 150px;
  background-color: azure;

  transition: 0.45s ease;
  margin: 5px;
}
